.ui--flex {
  display: flex;
}

.ui--flex--inline {
  display: inline-flex;
}

.ui--flex--dir-row {
  flex-direction: row;
}

.ui--flex--dir-row-reverse {
  flex-direction: row-reverse;
}

.ui--flex--dir-column {
  flex-direction: column;
}

.ui--flex--dir-column-reverse {
  flex-direction: column-reverse;
}

.ui--flex--wrap {
  flex-wrap: wrap;
}

.ui--flex--wrap-reverse {
  flex-wrap: wrap-reverse;
}

.ui--flex--nowrap {
  flex-wrap: nowrap;
}

.ui--flex--flex-1 {
  flex: 1 1 0%;
}

.ui--flex--flex-auto {
  flex: 1 1 auto;
}

.ui--flex--flex-initial {
  flex: 0 1 auto;
}

.ui--flex--flex-none {
  flex: none;
}

.ui--flex--justify-content-start {
  justify-content: flex-start;
}

.ui--flex--justify-content-end {
  justify-content: flex-end;
}

.ui--flex--justify-content-center {
  justify-content: center;
}

.ui--flex--justify-content-between {
  justify-content: space-between;
}

.ui--flex--justify-content-around {
  justify-content: space-around;
}

.ui--flex--justify-content-evenly {
  justify-content: space-evenly;
}

.ui--flex--justify-items-start {
  justify-items: start;
}

.ui--flex--justify-items-end {
  justify-items: end;
}

.ui--flex--justify-items-center {
  justify-items: center;
}

.ui--flex--justify-items-stretch {
  justify-items: stretch;
}

.ui--flex--align-content-center {
  align-content: center;
}

.ui--flex--align-content-start {
  align-content: flex-start;
}

.ui--flex--align-content-end {
  align-content: flex-end;
}

.ui--flex--align-content-between {
  align-content: space-between;
}

.ui--flex--align-content-around {
  align-content: space-around;
}

.ui--flex--align-content-evenly {
  align-content: space-evenly;
}

.ui--flex--align-items-start {
  align-items: flex-start;
}

.ui--flex--align-items-end {
  align-items: flex-end;
}

.ui--flex--align-items-center {
  align-items: center;
}

.ui--flex--align-items-baseline {
  align-items: baseline;
}

.ui--flex--align-items-stretch {
  align-items: stretch;
}

.ui--flex--place-content-center {
  place-content: center;
}

.ui--flex--place-content-start {
  place-content: start;
}

.ui--flex--place-content-end {
  place-content: end;
}

.ui--flex--place-content-between {
  place-content: space-between;
}

.ui--flex--place-content-around {
  place-content: space-around;
}

.ui--flex--place-content-evenly {
  place-content: space-evenly;
}

.ui--flex--place-content-stretch {
  place-content: stretch;
}

.ui--flex--place-items-start {
  place-items: start;
}

.ui--flex--place-items-end {
  place-items: end;
}

.ui--flex--place-items-center {
  place-items: center;
}

.ui--flex--place-items-stretch {
  place-items: stretch;
}

.ui--flex__item--grow-1 {
  flex-grow: 1;
}

.ui--flex__item--grow-0 {
  flex-grow: 0;
}

.ui--flex__item--shrink-1 {
  flex-shrink: 1;
}

.ui--flex__item--shrink-0 {
  flex-shrink: 0;
}

.ui--flex__item--justify-auto {
  justify-self: auto;
}

.ui--flex__item--justify-start {
  justify-self: start;
}

.ui--flex__item--justify-end {
  justify-self: end;
}

.ui--flex__item--justify-center {
  justify-self: center;
}

.ui--flex__item--justify-stretch {
  justify-self: stretch;
}

.ui--flex__item--align-auto {
  align-self: auto;
}

.ui--flex__item--align-start {
  align-self: flex-start;
}

.ui--flex__item--align-end {
  align-self: flex-end;
}

.ui--flex__item--align-center {
  align-self: center;
}

.ui--flex__item--align-stretch {
  align-self: stretch;
}

.ui--flex__item--align-baseline {
  align-self: baseline;
}

.ui--flex__item--place-auto {
  place-self: auto;
}

.ui--flex__item--place-start {
  place-self: start;
}

.ui--flex__item--place-end {
  place-self: end;
}

.ui--flex__item--place-center {
  place-self: center;
}

.ui--flex__item--place-stretch {
  place-self: stretch;
}
