########################################################################
#
#   https://editorconfig.org/
#
#   EditorConfig helps developers define and maintain consistent coding
#   styles between different editors and IDEs. The EditorConfig project
#   consists of a file format for defining coding styles and a collection
#   of text editor plugins that enable editors to read the file format and
#   adhere to defined styles. EditorConfig files are easily readable and
#   they work nicely with version control systems.
#
########################################################################

# top-most EditorConfig file
root = true

# Set some defaults for everything
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space

# Match based on extension
# [*.{js,json,yml}]