.label {
  padding-bottom: 5px;
  padding-top: 10px;
}

.textarea {
  display: block;
  min-width: 150px;
  font: inherit;
  line-height: 1;
  height: calc(1ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: hsl(0 0% 100% / 10%);
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}

.textarea {
  height: 100px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-validation-error {
  color: red;
  padding: 0;
}
