table {
  width: 100%;
  padding-top: 1em;
}

th {
  text-align: left;
  padding: 0.5em;
}

tr {
  border-bottom: 1px solid #ddd;
}

tbody > tr:nth-of-type(odd) {
  background-color: #222;
}

td {
  padding: 5px;
  /* border: 1px solid #ccc; */
}
