:root {
  --spacing-xxs: 2px;
  --spacing-xs: 4px; /* +2 */
  --spacing-small: 8px; /* +4 */
  --spacing-medium: 12px; /* +4 */
  --spacing-large: 20px; /* +8 */
  --spacing-xl: 32px; /* +12 */
  --spacing-xxl: 48px; /* +16 */

  /* Light Mode */
  --surface-level-0-color: #d2d6da;
  --surface-level-1-color: #d9dde1;
  --surface-level-2-color: #e4e8ec;
  --surface-level-3-color: #f0f4f7;
  --surface-level-4-color: #f7fbff;
  --text-primary-color: #25292d;
  --text-secondary-color: #707477;
  --text-tertiary-color: #a1a5a9;
  --text-link-color: #20aaff;
  --button-surface-primary-color: #20aaff;
  --button-surface-secondary-color: #f7fbff;
  --button-label-primary-color: #f7fbff;
  --button-label-secondary-color: #313539;
  --emphasis-blue-color: #8bd3ff;
  --emphasis-green-color: #bbefb1;
  --emphasis-yellow-color: #fbedaf;
  --emphasis-pink-color: #fbb0ed;
  --emphasis-red-color: #fba6a3;

  body.dark {
    --surface-level-0-color: #0d1114;
    --surface-level-1-color: #191d21;
    --surface-level-2-color: #25292d;
    --surface-level-3-color: #313539;
    --surface-level-4-color: #3e4246;
    --text-primary-color: #ebeff2;
    --text-secondary-color: #a1a5a9;
    --text-tertiary-color: #63676b;
    --text-link-color: #20aaff;
    --button-surface-primary-color: #20aaff;
    --button-surface-secondary-color: #4b4f52;
    --button-label-primary-color: #f7fbff;
    --button-label-secondary-color: #ebeff2;
    --emphasis-blue-color: #156fa6;
    --emphasis-green-color: #539441;
    --emphasis-yellow-color: #a6913e;
    --emphasis-pink-color: #a6428e;
    --emphasis-red-color: #a6352f;
  }
}

:root {
  --primary-font: 'JetBrains Mono', monospace;
  --h1-size: 64px;
  --h1-font-weight: 500;
  --h1-line-height: 140%;
  --h2-size: 40px;
  --h2-font-weight: 400;
  --h2-line-height: 140%;
  --h3-size: 24px;
  --h3-font-weight: 600;
  --h3-line-height: 140%;
  --p-size: 16px;
  --p-font-weight: 400;
  --p-line-height: 160%;
  --nav-heading-size: 12px;
  --nav-heading-font-weight: 700;
  --nav-heading-line-height: 140%;
  --nav-size: 12px;
  --nav-font-weight: 400;
  --nav-line-height: 140%;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --surface-level-0-color: #0d1114;
    --surface-level-1-color: #191d21;
    --surface-level-2-color: #25292d;
    --surface-level-3-color: #313539;
    --surface-level-4-color: #3e4246;
    --text-primary-color: #ebeff2;
    --text-secondary-color: #a1a5a9;
    --text-tertiary-color: #63676b;
    --text-link-color: #20aaff;
    --button-surface-primary-color: #20aaff;
    --button-surface-secondary-color: #4b4f52;
    --button-label-primary-color: #f7fbff;
    --button-label-secondary-color: #ebeff2;
    --emphasis-blue-color: #156fa6;
    --emphasis-green-color: #539441;
    --emphasis-yellow-color: #a6913e;
    --emphasis-pink-color: #a6428e;
    --emphasis-red-color: #a6352f;
  }
}

/* Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 100vh;

  .sidebar {
    width: 300px;
    overflow-y: auto;
    position: fixed;
    height: 100vh;

    header {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      padding: var(--spacing-medium);

      .logo {
        width: 50%;

        .light {
          display: block;
        }

        .dark {
          display: none;
        }

        body.dark & {
          .light {
            display: none;
          }
          .dark {
            display: block;
          }
        }

        @media (prefers-color-scheme: dark) {
          .dark {
            display: block;
          }
          .light {
            display: none;
          }
        }
      }
    }

    nav {
      padding: var(--spacing-small) var(--spacing-medium);
    }
  }

  .main {
    flex: 1;
    margin-left: 300px;
    padding: var(--spacing-xl) var(--spacing-xxl);
    max-width: 1200px;

    .content {
      max-width: 800px;
    }
  }
}

/* Global Element Theme Styles */

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  color: var(--text-primary-color);
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-medium);
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
  color: var(--text-secondary-color);
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-medium);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  color: var(--text-tertiary-color);
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-small);
}

p {
  font-size: var(--p-size);
  font-weight: var(--p-font-weight);
  line-height: var(--p-line-height);
  color: var(--text-primary-color);
  margin-bottom: var(--spacing-medium);
}

a {
  color: var(--text-link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background-color: var(--button-surface-secondary-color);
  padding: var(--spacing-medium);
  border: none;
  box-shadow: 3px 3px 3px var(--surface-level-2-color);
}

pre {
  background: var(--surface-level-4-color);
  border: 1px solid var(--surface-level-3-color);
  border-radius: 3px;
  margin: 0 calc(var(--spacing-medium) * -1) var(--spacing-medium);
  padding: var(--spacing-medium);
  overflow-x: auto;
}

code {
  font-family: var(--primary-font);
}

/* Styling */
.container {
  background-color: var(--surface-level-4-color);
}

.sidebar {
  background-color: var(--surface-level-3-color);
  border-right: 1px solid #dee2e6;
  font-weight: var(--nav-font-weight);
  color: var(--text-primary-color);
  font-size: var(--nav-size);
  scrollbar-color: var(--surface-level-2-color) var(--surface-level-4-color);

  header {
    background-color: var(--surface-level-3-color);
    border-bottom: 1px solid var(--surface-level-2-color);
  }

  summary {
    font-weight: var(--nav-heading-font-weight);
    color: var(--text-primary-color);
    font-size: var(--nav-heading-size);
    margin-bottom: var(--spacing-small);
    cursor: pointer;
  }

  .items {
    padding-left: var(--spacing-medium);
  }

  p {
    font-size: var(--nav-subheading-size);
    margin-bottom: var(--spacing-xs);
    font-weight: var(--nav-subheading-font-weight);
  }

  ul {
    list-style: none;
    margin-bottom: var(--spacing-small);
    margin-left: var(--spacing-medium);
  }

  li {
    margin-bottom: var(--spacing-xs);
  }

  a {
    display: inline-block;

    &.active {
      font-weight: bold;
    }
  }
}

.content {
  .home {
    text-align: center;
    margin-top: 30%;

    h1 {
      font-size: var(--h2-size);
    }
  }

  .error {
    text-align: center;
  }

  a {
    /* color: var(--text-link-color); */
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Shiki Code Highlighting */
.shiki {
  background-color: vaR(--surface-level-2-color) !important;

  a {
    color: inherit;
  }

  /* Shiki Code Highlighting Dark Mode */
  body.dark &,
  body.dark & span {
    color: var(--shiki-dark) !important;
  }

  @media (prefers-color-scheme: dark) {
    &,
    & span {
      color: var(--shiki-dark) !important;
    }
  }
}
