**/build/
**/tests/__snapshots/
**/node_modules/
!.eslintrc.js
.tmp
/playground
**/__tests__/fixtures
**/__tests__/**/*/fixtures

# Deno
integration/helpers/deno-template
packages/remix-deno
templates/deno
