**/build/
**/tests/__snapshots/
**/node_modules/
.tmp
/playground
**/__tests__/fixtures
**/__tests__/**/*/fixtures
/packages/*/dist/
/packages/*/CHANGELOG.md

# Deno
integration/helpers/deno-template
packages/remix-deno
templates/deno
