.DS_Store

/.env
/build/
/packages/*/dist/
/packages/*/LICENSE.md
node_modules/
yarn-error.log
tsconfig.tsbuildinfo

/jacob
/fixtures/cloudflare
/fixtures/test
/fixtures/my-remix-app
/fixtures/deno-app
/integration/playwright-report
/integration/test-results
/uploads

.eslintcache
.tmp

/.idea/
/playground
/scripts/playground/template.local
/scripts/playground/template/build
/scripts/playground/template/package-lock.json
/scripts/playground/template/yarn.lock
/scripts/playground/template/pnpm-lock.yaml

/NOTES.md
/RELEASENOTES.md
