*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  width: min(90%, 720px);
  margin: auto;
  padding: 1.5rem 0 0;
}

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.mr-auto {
  margin-right: auto;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: block;
  display: flex;
  align-items: center;
  gap: 1rem;
}

input {
  width: 32ch;
}
