* {
  box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.4;
  margin: 0;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin-right: 16px;
}

form label span {
  display: block;
}

form label:not(:first-child) {
  margin-top: 8px;
}

form input,
form textarea {
  width: 100%;
}

form input,
form textarea,
form button {
  border: 1px solid #999;
  font-size: inherit;
  padding: 10px 20px;
  border-radius: 8px;
  background: #fff;
}
