on:
  push:
    tags:
      - "remix@2.*"

jobs:
  publish:
    name: publish (v2)
    runs-on: ubuntu-latest

    permissions:
      contents: write # Required for publishing the GitHub release
      id-token: write # The OIDC ID token is used for authentication with JSR

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build packages
        run: pnpm build

      - name: Publish
        run: pnpm run publish-ci
