.button {
  /*
   * TODO: support composition from external module file
  composes: button from "./Button.module.css";
  */
  color: yellow;
}

.bold {
  font-weight: bold;
}

.inner {
  composes: bold;
}
